.detail {
    &__hero {
        width: 60%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;

        @media only screen and (max-width: 1024px) {
            width: 100%;
        }

        @media only screen and (max-width: 500px) {
            height: 350px !important;
        }
    }

    p,
    ol,
    ul,
    h4 {
        text-align: left;
    }

    ul {
        margin-bottom: 50px;
    }

    h4 {
        font-size: 21px;
    }

    h4,
    span {
        color: #30716F;
    }

    p {
        margin-bottom: 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        li {
            padding: 3px 5px;
            border-radius: 5px;
            background-color: #E6E8DE;
        }

        li:not(:first-child) {
            margin-left: 20px;
        }

        svg {
            margin-right: 5px;
        }

        @media only screen and (max-width: 700px) {
            display: block;

            li {
                width: fit-content;
            }

            li:not(:first-child) {
                margin-left: 0px;
            }
        }
    }

    li {
        margin-bottom: 5px;
    }

    h1 {
        margin-top: 20px;
        text-align: left;
    }
}